DATABASE_URL="mysql://USUARIO:SENHA@localhost:3306/gestao_financeira"
PORT=3000

JWT_SECRET='token-retornado-de-/auth/dev/token-se-necessario'
DEFAULT_USER_EMAIL="admin@gestao.com"
DEFAULT_USER_PASSWORD="admin123"
DEFAULT_USER_NAME="Usuário Padrão"
